<sahiti-navbar></sahiti-navbar>

<main>
  <section id="hero">
    <sahiti-hero></sahiti-hero>
  </section>

  <section id="about">
    <sahiti-about></sahiti-about>
  </section>

  <section id="skills">
    <sahiti-skills></sahiti-skills>
  </section>

  <section id="projects">
    <sahiti-projects></sahiti-projects>
  </section>

  <section id="certifications">
    <sahiti-certifications></sahiti-certifications>
  </section>

  <section id="contact">
    <sahiti-contact></sahiti-contact>
  </section>
</main>
